*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  background-color: rgb(235, 224, 210);
  color: rgb(120, 136, 98);
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
}

nav, h1, #header {
  letter-spacing: .03rem;
}

nav ul {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  flex-direction: row;
  margin: auto 50px auto 20px;
  list-style-type: none;

  flex-grow: 1;
}

nav li {
  margin: 0 10px;
}

#nav-bar {
  top: 0;
}

a {
  color: rgb(120, 136, 98);
  text-decoration: none;
} 

li:hover {
  transform: scale(110%);
}

#header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 8vh;
  top: 0;
  position: fixed;
  background-color: rgb(235, 224, 210);
  margin: 0;
  width: 100vw;
  border-bottom: 1px solid rgba(120, 136, 98, 0.6);
}

#header-img {
  width: 25px;
  margin-right: 5px;
}

.nav-bar-name {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 8vh;
  padding-left: 10px;
}

.hero {
  margin: -50px auto 30px;
  height: 70vh;
  max-width: 1080px;
  padding: 5px;
  text-align: center;
  background-image: url(./images/microgreens_background.png);
  background-size: cover;
  background-repeat: round;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  border-bottom: 1px solid rgba(120, 136, 98, 0.6);
}

.hero-text {
  background: rgb(235, 224, 210);
  width: 300px;
  min-height: 150px;
  margin: 0 auto 30px;
  padding: 3px;
  border: 1px solid rgba(120, 136, 98, 0.6);
  border-radius: 25px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.icon {
  width: 100px;
  margin: -12px 0 5px;
}

footer {
  bottom: 0;
  margin-top: 30px;
}

#logo {
  width: 400px;
  min-width: 350px;
  margin-bottom: -20px;
}

#form {
  width: 90%;
  min-width: 250px;
  margin: -10px auto 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#submit {
  margin: 10px auto 10px;
  width: 40%;
  height: 30px; 
  border-radius: 8px;
  background-color: rgb(120, 136, 98);
  color: rgb(235, 224, 210);
  font-size: .7rem;
  font-weight: 700;
  border: none;
}

#email {
  width: 80%;
  height: 1.3rem;
  margin: 0 10px;
}

.features {
  margin: 0 auto 30px;
  width: 90vw;   
}

.feature {
  display: flex;
  margin: 30px auto;
  max-width: 1080px;
}

.main-header {
  margin: 10px auto 20px;
  width: 90%;
}

.description {
  display: flex;
  align-items: center;
  margin: 0 auto;
  justify-content: center;
}

.pricing {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: space-evenly;
  margin: 30px 20px 0;
  gap: 3rem;  
}

.package {
  border: 2px solid rgb(120, 136, 98);
  width: calc(100% / 3);
  max-width: 350px;
  min-width: 275px;
  height: 350px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.package_description {
  margin: -10px 5px 0;
  font-size: 1.2rem;
}

.package_header {
  background-color: rgb(120, 136, 98);
  color: rgb(235, 224, 210);
  height: 15%;
  padding-top: 13px;
}

.package_pricing {
  margin-top: -15px;
}

.btn {
  width: 66%;
  margin: 10px auto;
  height: 2rem;
  background-color: rgb(120, 136, 98);
  color: rgb(235, 224, 210);
  border: none;
  font-size: 1.1em;
  transition: opacity .5s, color .5s;
}

.feature-header {
  margin-bottom: 5px;
}

footer {
  margin: 30px 20px 0 10px;
}

footer > ul {
  display: flex;
  justify-content: flex-end;
  list-style: none;
  margin-right: -7px;
}

footer > ul > li {
  padding: 0 8px;
  color: rgb(120, 136, 98);
}

footer > span {
  margin: 5px 0 10px;
  display: flex;
  justify-content: flex-end;
  font-size: 0.9em;
  color: rgb(120, 136, 98);
  word-spacing: .15rem;
}

footer a {
  font-weight: 800;
  font-size: 1.08rem;
}

.btn:hover, #submit:hover {
  opacity: .6;
  color: rgb(42, 63, 7);
  font-weight: 700;
  cursor: pointer;
}

@media (max-width: 900px) {
  .pricing {
    display: flex;
    flex-direction: row;
    width: 90%;
    margin: 30px auto;
    justify-content: space-between;
    gap: 1rem;
  }

  .package {
    width: 100%;
    min-width: 225px;
  }

  .package_description {
    font-size: 1.1rem;
  }

}


@media (max-width: 750px) {
  #header {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: auto;
  }

  .nav-bar-name {
    padding: 0;
  }

  nav li {
    padding-bottom: 5px;
  }

  nav > ul {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: 0 auto;
    align-items: center;
    width: 100%;
  }

  #form {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin: -10px auto 0;
  }

  .pricing {
    display: flex;
    flex-direction: column;
    width: 90%;
    margin: 30px auto;
  }

  .package {
    width: 100%;
    height: 35vh;
    min-height: 350px;
    max-width: 350px;
  }

  .package_pricing {
    margin-top: -30px;
  }

  .package_description {
    margin-top: -25px;
    font-size: 1.2rem;
  }

  .feature {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  #header-img {
    margin-bottom: -10px;
  }

  iframe {
    width: 90%;
    min-width: 350px;
  }
}

@media (max-height: 800px) {
  .hero {
    padding-top: 150px;
    height: auto;
  }

  .hero-text {
    height: 120px;
  }

  #logo {
    width: 300px;
  }

  #submit {
    height: 20px;
  }

  #header-img {
    margin-bottom: 3.5px;
  }

  #header {
    height: auto;
  }

  .nav-bar-name {
    margin-right: 20px;
  }
}

@media (max-height: 500px) {
  .nav-bar-name { margin-bottom: 10px;
  }
}